@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.backDiv { 
  background-color: rgb(19, 19, 19);
}

#submit {
  display: block; /* make the button a block-level element */
  width: 100%; /* make the button take up the full width of its container */
  padding: 10px; /* add padding to make the button more visible */
  font-size: 16px; /* increase the font size for better visibility */
}


.base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* set container height to 100% of viewport height */
}

input[type="text"] {
  width: 90%;
  height: 40px;
  padding: 8px;
  margin: 16px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  width: 90%;
  height: 40px;
  margin: 16px 0;
  border-radius: 4px;
  background-color:#4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}


.input-box {
  width: 100%; /* set the width of the input box to 60% of the container width */
  padding: 10px; /* add padding to the input box */
  margin-right: 10px; /* add right margin to the input box to separate it from the button */
  
}

.submit-button {
  width: 20%; /* set the width of the button to 30% of the container width */
  padding: 10px; /* add padding to the button */
}

.prompti-logo{ 
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: left;
  padding-top: 75px;
  padding-left: 75px;
}
.mesResponse { 
  color: white;
}

.saveChat { 
  border: 1px solid #ccc;
  background-color: grey;
	padding: 10px;
  font-size: 14px;
  height: 300px;
  width: 500px;
  overflow: auto;
}